<?xml version="1.0"?>
<model>
  <name>toys_collector_description</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>toys_collector</name>
  </author>
  <description>
    Gazebo model wrapper so model://toys_collector_description/meshes/* resolves correctly.
  </description>
</model>
